<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="90">
    <h1>Here's people talking about the same things.</h1>
  </div>
</div>


<div class="boxy">
    <table cellspacing="15">                         
      <tr>                          
        <th>User:</th>
        <th>Following:</th>
        <th>Phone:</th>
        <th>Carrier:</th>
        <th>Phone Type:</th>
      </tr>
    <% @users.each do |user| %>       
      <tr>
        <td><%= link_to user.name, users_single_path(user) %></td>  
        <td><%= user.following %></td>
        <td><%= user.phone %></td> 
        <td><%= user.carry %></td> 
        <td><%= user.deviceType %></td>   
      </tr>
    <% end %>                    
  </table>
</div>

<div class="list">
  <div class="button">
    <h1>
      <%= button_to "Add More", "/users/new", :method => "get" %>
      <%= button_to "Clear Database", "/users/confirmclear", :method => "get" %>
      <%= button_to "View Table Statistics", "/users/getstats", :method => "get" %>
    </h1>
  </div>
</div>





