<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="80">
    <h1>Here's people talking about the same things.</h1>
  </div>
</div>


<div>
  <h2>  

  	<% @users.each do |user| %>
   		<div class="section">
   			<p> <%= "USER" %> </p> 
      		<p> User: <%= user.name %> </p> 
          <p> Following: <%= user.following %> </p>
      		<p> Phone: <%= user.phone %></p> 
      		<p> Carrier: <%= user.carry %></p> 
      		<p> Phone Type: <%= user.deviceType %></p> <br>
        </div>
   <%end%>

  </h2>
</div>

