<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="80">
    <h1>Here's people talking about the same things.</h1>
  </div>
</div>


<div class="list">
  <h2>  

  	<% @users.each do |user| %>
   		<div>
   			  <p> <%= "FOUND" %> </p> 
      		<p> <%= "User: " + user.name %> <br>
          <%= "Following: " + user.following %> <br>
      		<%= "Phone: " + user.phone %> <br>
      		<%= "Carrier: " + user.carry %> <br>
      		<%= "Phone Type: " + user.deviceType %></p> 
      </div>
   <%end%>

  </h2>

  <div class="button">
    <h1>
      <%= button_to "Add More", "/users/new", :method => "get" %>
    </h1>
  </div>
</div>

