<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="80">
    <h1>Welcome to Phone Scout. Enter a base user to find a conversation.</h1>
  </div>
</div>


<div>
  <h2>  
   <%= form_tag @base do %>
      <%= text_field_tag :name %>
      <%= submit_tag "Converse" %>
    <% end %>
  </h2>
</div>

  
<div>
  <h2> 
    <% form_for @base do |f| %>
    <%= f.text_field :name %>
    <%= submit_tag "Converse" %>
    <% end %>
 </h2>
</div>
