<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="90">
    <h1>Here's some tallies from your database.</h1>
  </div>
</div>


<div class="stats">
    <table cellspacing="15">                         
      <tr>                          
        <th>Carriers:</th>
        <th>Count:</th>
      </tr> 
      <% @carriers.each do |key, val| %>   
        <tr>
          <td><%= "#{key}" %></td> 
          <td><%= "#{val}" %></td> 
        </tr>
      <% end %>  
  </table>
</div>

<div class="stats">
    <table cellspacing="15">                         
      <tr>                          
        <th>Device Types:</th>
        <th>Count:</th>
      </tr> 
      <% @types.each do |key, val| %>   
        <tr>
          <td><%= "#{key}" %></td> 
          <td><%= "#{val}" %></td>
        </tr>
      <% end %>  
  </table>
</div>

<div class="list">
  <div class="button">
    <h1>
      <%= button_to "Back to Database", "/users/all", :method => "get" %>
    </h1>
  </div>
</div>