<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="90">
    <h1> <%= "Here's some stuff about " + @global_dude.name %> </h1>
    <% if current_guest %>
      </br>
      <h2> Signed in as <%= current_guest.guestname %> </h2>
    <% end %>
  </div>
</div>


<div class="list">
  <h1>
      <p>
        <%= "Username:" + @global_dude.name %><br>  
        <%= "Found Following: " + @global_dude.following %><br>
        <%= "Phone Number: " + @global_dude.phone %><br> 
        <%= "Phone Carrier: " + @global_dude.carry %><br> 
        <%= "Phone Type: " + @global_dude.deviceType %><br>
        <%= "Follower Count: " + @global_dude.followercount %><br> 
        <%= "Bio: " + @global_dude.bio %><br> 
        <%= "Profile: " %> <%= auto_link(@global_dude.profilelink) %> <br> 
        <%= "Website: " %> <%= auto_link(@global_dude.website) %> <br> 
      </p>
  </h1>
</div>


<div class="list">
  <div class="button">
    <h1>
      <%= button_to "Back to Database", "/users/all", :method => "get" %>
    </h1>
  </div>
</div>